.header{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
}
.header .header_inner{
    position: sticky;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 150px auto;
    gap: 15px;
    padding: 15px 0;
}
.nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.nav > ul > li{
    display: inline-block;
    margin: 0 10px;
}
.nav > ul > li > a{
    display: block;
    padding: 10px 15px;
    font-weight: 400;
    fontSize: 14px;
    cursor: pointer;
}
.nav > ul > li > a:hover{
    color: var(--main-color);
}
.header_action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_action_mobile{
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}
.header_action_avatar{
    cursor: pointer;
}
.logo svg{
    width: 150px;
    height: auto;
}
.header_action .pu_btn_link{
    background-color: transparent;
}


.wrapper{
    text-align: center;
    margin: 30px auto;
}
.wrapper > .vector svg{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.wrapper > p{
    margin: 0;
    fontSize: 16px;
    margin-bottom: 20px;
}