.create_link_input{
    height: 65px;
    border: 1px solid #e5eaf2;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 12px 24px 0px rgba(177, 193, 224, 0.1);
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 4px;
}
.create_link_input > .cli_text{
    border-radius: 8px;
    background-color: #f7f9fb;
    display: flex;
    align-items: center;
    padding: 0 20px;
    fontSize: 16px;
    font-weight: 500;
    color: #9aa4cc;
}
.create_link_input > .cli_input{
    width: 100%;
    outline: none;
    border: none;
    fontSize: 16px;
    padding: 15px;
}
.create_link_input > .cli_input::-webkit-input-placeholder{
    color: #c7cbe1;
}

  