.profile_wrapper{
    display: grid;
    grid-template-columns: 1200px;
    gap: 30px;
  }
  .profile_avatar{
    position: relative;
    display: inline-flex;
  }
  .profile_avatar > .profile_avatar_initials{
    width: 125px;
    height: 125px;
    border-radius: 125px;
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .profile_avatar > img{
    position: absolute;
    top: -1px;
    left: -1px;
    width: 127px;
    height: 127px;
    border-radius: 125px;
    object-fit: cover;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  }
  .profile_avatar .profile_img_uploader{
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    border-radius: 125px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
  }
  .profile_avatar:hover .profile_img_uploader{
    opacity: 1;
    visibility: visible;
  }
  .profile_avatar .profile_img_uploader > input{
    position: absolute;
    left: -99999px;
    opacity: 0;
  }
  .profile_avatar .profile_img_uploader > label{
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    border-radius: 125px;
    cursor: pointer;
    background-color: rgba(var(--main-color-rgb), 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile_avatar .profile_img_uploader > label > svg{
    width: 50px;
    height: auto;
  }
  .profile_avatar .profile_img_uploader > label > svg path{
    fill: #ffffff;
  }
  
  .profile_info_box{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 18px 30px 0px rgba(177, 193, 224, 0.1);
    text-align: center;
    padding: 50px 20px;
  }
  .profile_info_box > h3{
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 20px 0;
  }
  .profile_info_box > p{
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px 0;
    color: #9aa4cc;
  }
  .profile_info_box > p > span{
    font-weight: 600;
    color: #7a85b1;
  }
  
  .profile_right{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 18px 30px 0px rgba(177, 193, 224, 0.1);
  }
  
  .profile_box{
    border-bottom: 2px solid #f1f4fb;
  }
  .profile_box:last-child{
    border-bottom: none;
  }
  .profile_box > .profile_box_title{
    padding: 24px 30px;
  }
  .profile_box > .profile_box_title > h3{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  .profile_box > .profile_box_body{
    padding: 30px;
  }
  
  .profile_image_remove{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .profile_image_remove > svg path{
    fill: #ffffff;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
  }
  
  .switch_status {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8E8E8;
    transition: 0.5s;
    border: 0;
  }
  
  .switch_status:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: var(--whiteColor);
    transition: 0.5s;
    border-radius: 20px;
  }
  
  
  .switch input:checked+.switch_status {
    background: var(--gradientColor);
    border: 0;
  }
  
  @media (max-width: 768px) {
    .profile_wrapper{
        grid-template-columns: auto;
    }
  }
  