.icon_pack_wrapper{
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 12px 26px 0px rgb(177, 193, 224, 0.10);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18%,1fr));
    grid-gap: 20px;
    padding: 50px;
}

.icon_pack_item{
    background-color: #FCFDFF;
    border: 1px solid #D8DEE8;
    border-radius: 8px;
    text-align: center;
    padding: 40px 10px;
    cursor: pointer;
}
.icon_pack_item:hover{
    border-color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.05);
}
.icon_pack_item > p{
    margin: 0;
    fontSize: 20px;
}
.icon_pack_item_icon{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon_pack_item_icon > svg{
    width: 50px;
    height: auto;
}