.wrapper{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 18px 30px 0px rgba(177, 193, 224, 0.1);
    padding: 30px;
    position: relative;
}
.wrapper > h3{
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    fontSize: 18px;
}
.wrapper > h3 svg{
    margin-left: 10px;
    width: 15px;
    height: auto;
}
.wrapper > h3 svg path{
    stroke: var(--main-color);
}
.wrapper img{
    max-width: 100%;
    pointer-events: none;
    z-index: 4;
    position: relative;
}

.preview_iframe{
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.preview_iframe{
    position: relative;
    text-align: center;
}
.preview_iframe > div > *{
    pointer-events: none;
}